# APEX Weka Classifier Definition File
#
# This file is used to configure Weka classifier options available in APEX.
# The first classifier in this file is always taken as the default classifier and
# parameter values.  In order to add a classifier it is necessary to be familiar with
# Weka's command line tag options for the classifier of interest.  This includes
# specification of parameter dependencies.  In some cases the inclusion of a particular
# parameter is dependent on the state of another, usually BOOLEAN, parameter.
#
#
# Key Glossary:
#
# CLASSIFIER - marks the start of a classifier entry
#
# CLASSIFIER_END - marks the end of a classifier entry 
#
# WEKA_CLASSIFIER_CLASS - is the fully qualified (includes Java packages) classifier
#                         class name.
#
# PERMITS_COST_SENS - indicates if cost sensitive is permitted, value is Y or N
#
# PERMITS_BAGGING - indicates if bagging is permitted, value is Y or N
#
# PARAMETER_NAME - a descriptive parameter name, also marks the start of a 
#                  parameter entry
#
# PARAMETER_WEKA_TAG - the corresponding Weka option tag for the parameter
#
# PARAMETER_DEFAULT_VALUE - a default value for the parameter
#
# PARAMETER_TYPE - several options <INT>=integer, <NUMERICAL>=float, <BOOLEAN>=boolean [TRUE | FALSE]
#
# PARAMETER_CONSTRAINT - value constraint options <NONE>, <POS>, <BOUNDED>
#
# PARAMETER_BOUND_UPPER (or LOWER) - <NONE> or numerical if constraint is <BOUNDED>
#
# PARAMETER_DEPEND_TAG_AND_TRIGGER_VALUE - if the presence of this tag is dependent on the
#                        state of another variable, specify the other variable and a trigger
#                        value delimited by a :.
#                        Example: PARAMETER_DEPEND_TAG_AND_TRIGGER_VALUE:-R:TRUE
#
# PARAMETER_END - marks the end of a parameter
#
#
#
CLASSIFIER
CLASSIFIER_NAME:Random Forest
WEKA_CLASSIFIER_CLASS:weka.classifiers.trees.RandomForest
PERMITS_COST_SENS:Y
PERMITS_BAGGING:Y
#
PARAMETER_NAME:Iterations
PARAMETER_WEKA_TAG:-I
PARAMETER_DEFAULT_VALUE:10
PARAMETER_TYPE:INT
PARAMETER_CONSTRAINT:POS
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Number of Random Features
PARAMETER_WEKA_TAG:-K
PARAMETER_DEFAULT_VALUE:5
PARAMETER_TYPE:INT
PARAMETER_CONSTRAINT:POS
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Random Seed
PARAMETER_WEKA_TAG:-S
PARAMETER_DEFAULT_VALUE:1
PARAMETER_TYPE:INT
PARAMETER_CONSTRAINT:NONE
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
CLASSIFIER_END
#
#
#
CLASSIFIER
CLASSIFIER_NAME:Ripple-Down Rule Learner (Ridor)
WEKA_CLASSIFIER_CLASS:weka.classifiers.rules.Ridor
PERMITS_COST_SENS:Y
PERMITS_BAGGING:Y
#
PARAMETER_NAME:Folds
PARAMETER_WEKA_TAG:-F
PARAMETER_DEFAULT_VALUE:3
PARAMETER_TYPE:INT
PARAMETER_CONSTRAINT:POS
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Majority Class
PARAMETER_WEKA_TAG:-M
PARAMETER_DEFAULT_VALUE:FALSE
PARAMETER_TYPE:BOOLEAN
PARAMETER_CONSTRAINT:NONE
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Min. Total Instance Wt. (minNo)
PARAMETER_WEKA_TAG:-N
PARAMETER_DEFAULT_VALUE:2.0
PARAMETER_TYPE:NUMERICAL
PARAMETER_CONSTRAINT:POS
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Shuffle
PARAMETER_WEKA_TAG:-S
PARAMETER_DEFAULT_VALUE:1
PARAMETER_TYPE:INT
PARAMETER_CONSTRAINT:POS
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Use Whole Data Err.
PARAMETER_WEKA_TAG:-A
PARAMETER_DEFAULT_VALUE:FALSE
PARAMETER_TYPE:BOOLEAN
PARAMETER_CONSTRAINT:NONE
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Random Seed
PARAMETER_WEKA_TAG:-s
PARAMETER_DEFAULT_VALUE:1
PARAMETER_TYPE:INT
PARAMETER_CONSTRAINT:NONE
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
CLASSIFIER_END
#
#
#
CLASSIFIER
CLASSIFIER_NAME:J48 Trees
WEKA_CLASSIFIER_CLASS:weka.classifiers.trees.J48
PERMITS_COST_SENS:Y
PERMITS_BAGGING:Y
PARAMETER_NAME:Use Unpruned Tree
PARAMETER_WEKA_TAG:-U
PARAMETER_DEFAULT_VALUE:FALSE
PARAMETER_TYPE:BOOLEAN
PARAMETER_CONSTRAINT:NONE
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Pruning Conf. Threshold
PARAMETER_WEKA_TAG:-C
PARAMETER_DEFAULT_VALUE:0.25
PARAMETER_TYPE:NUMERICAL
PARAMETER_CONSTRAINT:BOUNDED
PARAMETER_BOUND_UPPER:1
PARAMETER_BOUND_LOWER:0
PARAMETER_DEPEND_TAG_AND_TRIGGER_VALUE:-U:FALSE
PARAMETER_END
#
PARAMETER_NAME:Min. Number of Items per Leaf
PARAMETER_WEKA_TAG:-M
PARAMETER_DEFAULT_VALUE:2
PARAMETER_TYPE:INT
PARAMETER_CONSTRAINT:POS
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Use Reduced Error Pruning
PARAMETER_WEKA_TAG:-R
PARAMETER_DEFAULT_VALUE:FALSE
PARAMETER_TYPE:BOOLEAN
PARAMETER_CONSTRAINT:NONE
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Num. Foldes for Err. Red.
PARAMETER_WEKA_TAG:-N
PARAMETER_DEFAULT_VALUE:3
PARAMETER_TYPE:INT
PARAMETER_CONSTRAINT:POS
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_DEPEND_TAG_AND_TRIGGER_VALUE:-R:TRUE
PARAMETER_END
#
PARAMETER_NAME:Use Binary Splits Only
PARAMETER_WEKA_TAG:-B
PARAMETER_DEFAULT_VALUE:TRUE
PARAMETER_TYPE:BOOLEAN
PARAMETER_CONSTRAINT:NONE
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Skip Subtree Raising
PARAMETER_WEKA_TAG:-S
PARAMETER_DEFAULT_VALUE:FALSE
PARAMETER_TYPE:BOOLEAN
PARAMETER_CONSTRAINT:NONE
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Laplace Smoothing for Pred. Prob.
PARAMETER_WEKA_TAG:-A
PARAMETER_DEFAULT_VALUE:FALSE
PARAMETER_TYPE:BOOLEAN
PARAMETER_CONSTRAINT:NONE
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
#
PARAMETER_NAME:Random Seed
PARAMETER_WEKA_TAG:-Q
PARAMETER_DEFAULT_VALUE:1
PARAMETER_TYPE:INT
PARAMETER_CONSTRAINT:NONE
PARAMETER_BOUND_UPPER:NONE
PARAMETER_BOUND_LOWER:NONE
PARAMETER_END
CLASSIFIER_END
#
#
#

